Downloads
Documents
Music
Video
Projects
semester
.aspell.en.prepl
.aspell.en.pws
.Xauthority
.bash_history
.cache/
.capsule/
.esd_auth
.fehbg
.gitconfig
.gnuplot_history
.gtkpod/
.hplip/
.ipe/
.java/
.jd/
.lesshst
.minecraft/
.mono/
.mozilla/
.npm/
.nuget/
.nv/
.nvidia-settings-rc
.openjfx/
.org.prelle.genesis.Genesis3Main/
.paradoxlauncher/
.pki/
.pulse-cookie
.pyfa/
.python_history
.spack.julea/
.spack.old/
.spack/
.ssh/
.steam/
.steampath
.steampid
.subversion/
.swt/
.thunderbird/
.ts3client/
.tuxguitar-1.5.2/
.vim/
.viminfo
.viminfo.tmp
.x2go/
.x2goclient/
Games/
Images/
Videos/
.wget-hsts
.wine/
#.config
.config/anjuta
.config/cef_user_data
.config/Cerebral
.config/chromium
.config/configstore
.config/dconf
.config/discord
.config/Electron
.config/fontforge
.config/gajim
.config/gconf
.config/GIMP
.config/gtk-2.0
.config/gtk-3.0
.config/julea
.config/launcher-main
.config/lutris
.config/matplotlib
.config/menus
.config/mimeapps.list
.config/Mumble
.config/NuGet
.config/okular.kmessagebox
.config/okularpartrc
.config/okularrc
.config/pavucontrol.ini
.config/picom.conf
.config/pulse
.config/QtProject.conf
.config/systemd
.config/teamviewer
.config/unity3d
.config/vlc
.config/XenonTrade
.config/ycm
.config/mpd/database
.config/mpd/log
.config/mpd/state
.config/mpd/sticker.sql
.config/ncmpcpp/error.log
.config/ranger/plugins/__init__.py
.config/ranger/plugins/__pycache__/
# .local/share
.local/share/CKAN/
.local/share/Mumble/
.local/share/NuGet/
.local/share/Paradox Interactive/
.local/share/RecentDocuments/
.local/share/Rocket League/
.local/share/Steam/
.local/share/Tabletop Simulator/
.local/share/TeamSpeak 3/
.local/share/applications/
.local/share/desktop-directories/
.local/share/gajim/
.local/share/gsettings-data-convert
.local/share/gvfs-metadata/
.local/share/icons/
.local/share/lutris/
.local/share/meld/
.local/share/mime/
.local/share/okular/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/rhythmbox/
.local/share/teamviewer12/
.local/share/teamviewer15/
.local/share/vlc/
.local/share/vulkan/
.local/share/webkitgtk/
.anydesk/
.atom/
.cargo/
.clangd/
.cmake/
.config/Atom/
.config/JetBrains/
.config/Unknown Organization/
.config/deepin/deepin-screen-recorder.conf
.config/deepin/deepin-screen-recorder/
.config/godot/
.config/heimdallr/
.config/kcachegrindrc
.config/libreoffice/
.config/neofetch/
.config/nordvpn/
.config/obs-studio/
.config/zoomus.conf
.cups/
.debug/
.deepin-screen-recorder/
.eclipse/
.electron-gyp/
.keras/
.local/bin/pipenv
.local/bin/pipenv-resolver
.local/bin/virtualenv
.local/bin/virtualenv-clone
.local/lib/
.local/share/DBeaverData/
.local/share/JetBrains/
.local/share/Trash/
.local/share/dino/
.local/share/godot/
.local/share/virtualenv/
.local/share/virtualenvs/
.lyrics/
.m2/
.ncmpcpp/
.nvm/
.psql_history
.renpy/
.spack_backupp/
.zoom/
Audio
Desktop/
